alembic==1.8.0
amqp==5.2.0
annotated-types==0.7.0
ansible==8.4.0
ansible-core==2.15.4
anyio==3.6.1
async-timeout==4.0.3
asyncpg==0.26.0
attrs==23.2.0
Babel==2.8.0
billiard==3.6.4.0
blinker==1.8.2
Brotli==1.1.0
cachetools==5.3.3
celery==5.2.7
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.5
ConfigArgParse==1.7
coverage==6.4.1
cryptography==41.0.1
databases==0.6.1
dbus-python==1.2.18
Deprecated==1.2.14
distro==1.7.0
dnspython==2.2.1
dotty-dict==1.3.1
email_validator==2.2.0
exceptiongroup==1.2.1
fastapi==0.89.1
fastapi-cli==0.0.4
fastapi-utils==0.2.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
gevent==24.2.1
geventhttpclient==2.3.1
google-api-core==2.5.0
google-api-python-client==1.12.10
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-cloud-bigquery==3.2.0
google-cloud-bigquery-storage==2.13.2
google-cloud-core==2.3.2
google-cloud-storage==2.1.0
google-crc32c==1.3.0
google-resumable-media==2.3.0
googleapis-common-protos==1.55.0
greenlet==1.1.2
grpcio==1.64.1
grpcio-status==1.48.2
h11==0.13.0
httpcore==1.0.5
httplib2==0.20.2
httptools==0.4.0
httpx==0.27.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.8.0
iniconfig==2.0.0
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.4
kafka-python==2.0.2
keyring==23.5.0
kombu==5.3.7
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
locust==2.29.0
Mako==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
more-itertools==8.10.0
msgpack==1.0.8
netifaces==0.11.0
numpy==2.0.0
oauthlib==3.2.0
orjson==3.7.6
packaging==21.3
pluggy==1.5.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==3.20.3
psutil==6.0.0
psycopg2-binary==2.9.3
py==1.11.0
pyarrow==8.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.12.0
pydantic==1.9.1
pydantic_core==2.18.4
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
pytest==7.1.2
python-apt==2.4.0+ubuntu1
python-dateutil==2.9.0.post0
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
pyzmq==26.0.3
redis==4.3.4
requests==2.28.1
resolvelib==0.8.1
rich==13.7.1
rsa==4.9
SecretStorage==3.3.1
shellingham==1.5.4
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.39
SQLAlchemy-Utils==0.41.1
starlette==0.22.0
tomli==2.0.1
typer==0.12.3
typing_extensions==4.3.0
ubuntu-advantage-tools==8001
ujson==5.10.0
uritemplate==3.0.1
urllib3==1.26.19
uvicorn==0.18.2
uvloop==0.19.0
vine==5.1.0
wadllib==1.3.6
watchfiles==0.15.0
wcwidth==0.2.13
websockets==10.3
Werkzeug==3.0.3
wrapt==1.16.0
zipp==3.8.0
zope.event==5.0
zope.interface==6.4.post2
